<!doctype html>
<!--
Website By Miradontsoa / MiVFX
http://twitter.com/miradontsoa
http://miradontsoa.com
-->

<html class="no-js" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Page Title Here -->
  <title>Simpleux - A portfolio / onepage template</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description"
    content="A beautiful and creative portfolio template. It is mobile friend (responsive) and comes with smooth animations">

  <!-- Disable screen scaling-->
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@miradontsoa">
  <meta name="twitter:creator" content="@miradontsoa">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Page Title">
  <meta name="twitter:description" content="Description of the page">
  <meta name="twitter:image" content="/img/bg-default.jpg">

  <!-- Facebook Meta -->
  <meta property="og:url" content="your website url here">
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="Description of the page">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/bg-default.jpg">
  <meta property="og:image:secure_url" content="/img/bg-default.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="../../fonts/opensans/stylesheet.css">
  <link rel="stylesheet" href="../../fonts/bebas/stylesheet.css">
  <link rel="stylesheet" href="../../fonts/ionicons.min.css">
  <link rel="stylesheet" href="../../fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="../../css/pageloader.css">

  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../js/vendor/swiper.min.css">
  <link rel="stylesheet" href="../../js/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="../../js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="../../css/main.css">

  <!-- add alt layout here -->
  <link rel="stylesheet" href="../../css/style-default.css">

  <script src="../../js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-item">
  <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>loading</p>
    </div>
  </div>

  <!-- BEGIN OF site header Menu -->
  <header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">

    <!-- Begin of menu icon toggler -->
    <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
      <!-- Available class : menu-icon-dot / menu-icon-thick /menu-icon-random -->
      <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>
    <!-- End of menu icon toggler -->

    <!-- Begin of logo/brand -->
    <a class="navbar-brand" href="../../#">
      <!-- <span class="logo">
        <img class="light-logo" src="img/logo.png" alt="Logo">
      </span>
      <span class="text">
        <span class="line">Simpleux</span>
        <span class="line sub">Portfolio Template</span>
      </span> -->
    </a>
    <!-- End of logo/brand -->

    <!-- begin of menu wrapper -->
    <div class="all-menu-wrapper" id="navbarMenu">
      <!-- Begin of top menu -->
      <nav class="navbar-topmenu">
        <!-- Begin of CTA Actions, & Icons menu -->
        <ul class="navbar-nav navbar-nav-actions">
          <li class="nav-item">
            <a class="btn btn-outline-white btn-round" target="_blank"
              href="https://themeforest.net/item/simpleux-beautiful-creative-website-template-for-agency-business-and-portfolio/20863111">
              Buy Now
            </a>
          </li>
        </ul>
        <!-- End of CTA & Icons menu -->
      </nav>
      <!-- End of top menu -->

      <!-- Begin of hamburger mainmenu menu -->
      <!-- <nav class="navbar-mainmenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../../index.html#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../item.html">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../demo.html">Demo</a>
          </li>
        </ul>
      </nav> -->
      <!-- End of hamburger mainmenu menu -->

      <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
      <!-- <nav class="navbar-sidebar icon-only">
        <ul class="navbar-nav" id="qmenu">
          <li class="nav-item" data-menuanchor="home">
            <a href="../../index.html#home">
              <i class="icon ion-ios-home-outline"></i>
              <span class="txt">Home</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="about">
            <a href="../../index.html#about">
              <i class="icon ion-ios-information-outline"></i>
              <span class="txt">About</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="about">
            <a href="../../index.html#contact">
              <i class="icon ion-ios-telephone-outline"></i>
              <span class="txt">Contact</span>
            </a>
          </li>
        </ul>
      </nav> -->
      <!-- End of sidebar nav menu -->
    </div>
    <!-- end of menu wrapper -->

  </header>
  <!-- END OF site header Menu-->

  <!-- BEGIN OF page main content -->
  <main class="page-main page-fullpage main-anim" id="itempage">

    <!-- Begin of list two side 1 section -->
    <div class="section section-twoside fp-auto-height-responsive section-item" data-section="item-alpha">
      <div class="section-cover-tier mask-black" style="background-image:url('../../img/items/img-sample2.jpg')">
        <div class="cover-content">
          <div class="title-desc">
            <h2 class="display-4 display-title">CEO 약력</h2>
            <!-- <p>A Bootstrap 4 based UI kit framework. Use it to build modern and beautiful websites easily.</p> -->
          </div>
        </div>
      </div>
      <!-- Begin of section wrapper -->
      <div class="section-wrapper largewidth">

        <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->

        <!-- begin of item -->
        <div class="item row">
          <!-- margi reservation -->
          <div class="col-12 col-md-4">
          </div>

          <!-- begin of text content -->
          <div class="col-12 col-md-8 center-vh">
            <!-- content -->
            <div class="section-content anim scrollable">

              <article class="article article-light">
                <header class="article-header">
                  <div class="wrapper">
                    <div class="media media-article-title">
                      <img class="media-image d-flex align-self-center mr-3 rounded-circle" src="../../img/avatar.png"
                        alt="Generic placeholder image">
                      <div class="media-body align-self-center">
                        <!-- <h5 class="mt-0 media-title">
                          <strong>Tim Lucas</strong>
                        </h5>
                        <p class="mb-0 t-nowrap">Designer &amp; Blogger for 20 Magazine</p>
                        <p class="mb-0 t-nowrap">January 20, 2018</p>
                      </div> -->
                    </div>
                  </div>
                </header>
                <div class="article-content">
                  <div class="wrapper">
                    <h2>CEO 약력</h2>
                    <p>1. 단체활동(경력사항)<br/>
                        가.사단법인 국제가족한국총연합총재<br/>
                        나.사단법인 한민족운동지도자 연합회 이사<br/>
                        다.사단법인 한국청소년육성연맹 이사장<br/>
                        라.사단법인 한인 친선연합회 대전,충청 총괄본부장<br/>
                        마.사단법인 새천년 새 생활 국제연합회 총재<br/>
                        바.국민평화상 추진 위원회 위원장<br/>
                        사.대한민국 사이버 국회 공동의장<br/>
                        아.국민공감 사이버 국회 의장<br/>
                        자.한민족 바로 세우기 운동본부 이사장<br/>
                        차.국민대통합 기도회 추진위원 위원장<br/>
                        - 제18대 박근혜대통령 당선 축하국민대통합 기도회 이사장<br/>
                        - 제18대 박근혜대통령 취임1주년 축하 및3.1절 기념행사<br/>
                        (동방의 등불 PEACEKOREA2014 국민평화상 창설자)준비위원장/이사장<br/>
                        카.세계 청소년 문화교류 위원회장<br/>
                        타.다이나민 코리아 자문위원<br/>
                        파.한민족 평화 통일단체 총연합 경영총재<br/>
                        하.세계 평화 공원 조성사업 추진 위원회 위원장</p>
                    <p>2. 주요활동사항<br/>
                        가.세계불교문화올림픽 이사장<br/>
                        나.전국민7000만점 의류 모으기 운동본부 이사장<br/>
                        다.세계평화 기원청소년 영화 축제 조직위원장 이사장<br/>
                        라.국정방송 사이버 국회 대표/상임의장<br/>
                        마.세계안전 예방연맹 총재<br/>
                        바.세계 일자리 창출연맹 총재<br/>
                        사.(사)한국 블로체인 기업진흥협회 부회장<br/>
                        아.(사)글로벌 팡팡 블록체인 연구재단 자문위원<br/>
                        </p>
                    <p>3. 기업경영<br/>
                        가.주식회사 티알에스퓨처 플래닛 대표이사/회장<br/>
                        나.주식회사 해피코리아타운 대표이사/회장<br/>
                        다.주식회사 미라클시티럭셔리몰 이사<br/>
                        라.미라클시티 건설사업단 회장<br/>
                        마.아메리칸 클래식 골프컬리지 코리아 대표(ACGC총재)<br/>
                        바.청주트렌스페이지 조성사업위원회 총재<br/>
                        사.미라클시티월드그룹 대표
                        </p>
                    <p>4. 자격<br/>
                        가. 대한불교 전통 조계종 삼장법사(법명 원용)<br/>
                        나. 밀레니엄 국제선교협회 선교사
                        </p>
                    <p>5. 수상<br/>
                        가.국가 인권위원장상 수상(2011년)<br/>
                        나.미국대통령 공로장 추서(2011년)
                        </p>
                    <p>6. 기타<br/>
                        가.좋은 말 권하기 운동본부 이사장<br/>
                        나.장애인 창업보육센터 설립자(자문위원장)<br/>
                        다.동대문 지역발전 협의회 창립 제안자<br/>
                        라.서민 경제 활성화대책 본부장(2010서울시장선거)<br/>
                        마.국민비전본부 수석본부장(2012대통령선거)<br/>
                        바.민족통합무궁화 연합중앙회 자문위원<br/>
                        사.한국.인도네시아 경제협력추진 위원회 총괄위원장<br/>
                        아.국제문화 교류원이사장<br/>
                        자.한중경제 협력활성화포럼위원회 총재<br/>
                        차.한중결제 문화예술복합박람회 조직위원회 총재<br/>
                        카.한국NGO연합방송 총재<br/>
                        타.남북경협 지원센터센터장<br/>
                        파.한반도 통일추진위원회 대표<br/>
                        하.국가와 통일을 염려하는 사람들의 모임 준비위원장<br/>
                        </p>
                    <p>7. 그 외<br/>
                        가.전국고속도로 하이샵 경제인연합회 회장<br/>
                        나.동두천영상단지 조성위원회 총괄 사업단 대표<br/>
                        다.하나 겨레기 실천운동본부 총재<br/>
                        라.국가 재난위기대응포럼 이사장/집행위원장<br/>
                        마.맥아더 자유&평화재단 국민행동본부 회장<br/>
                        바.전통식품명품100선위원회 총재<br/>
                        사.대한민국 경제살리기 포럼 총재
                        </p>
                    <h1>송진호 총재(President of the state)</h1>
                    

                  </div>
                </div>
                
              </article>

              
            </div>
          </div>
          <!-- end of text content -->
        </div>
        <!-- end of item -->

      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of list two side 1 section -->
  </main>
  <!-- END OF page main content -->

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="../../js/vendor/jquery-1.12.4.min.js"></script>

  <!-- All vendor scripts -->
  <script src="../../js/vendor/scrolloverflow.min.js"></script>
  <script src="../../js/vendor/all.js"></script>
  <script src="../../js/particlejs/particles.min.js"></script>

  <!-- Countdown script -->
  <script src="../../js/jquery.downCount.js"></script>

  <!-- Form script -->
  <script src="../../js/form_script.js"></script>

  <!-- Javascript main files -->
  <script src="../../js/main.js"></script>

</body>

</html>